* {
    box-sizing: border-box;
}


.container {
/*	max-width:1000px; */
	width: 100%;
	margin:0 auto;
	position:relative;
}

input[type=text], [type=search], [type=email], [type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: left;
}

label {
    padding: 12px 12px 12px 5px;
    display: flex;
}


input[type=submit] {
    width: 40%;
    background-color: #ADD8E6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    resize: vertical;
    float: left;

}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is greater than 900px wide input field lengths are set to 75% of normal size */
@media screen and (min-width: 900px) {
    input[type=text], [type=search], [type=email], [type=tel], select, textarea {
        width: 75%;
        margin-top: 0;
    }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
