* {
    box-sizing: border-box;
}

.container {
/*	max-width:1000px; */
	width: 100%;
	margin:0 auto;
    position:relative;
}

.App-intro {
    font-size: 90%;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: center;
  }

input[type=text], input[type=search], input[type=email], input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: left;
}

p, label {
    padding: 12px 12px 12px 5px;
    display: flex;
}

input[type=submit] {
    width: 40%;
    background-color: #ADD8E6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    resize: vertical;
    float: left;
}

.hide-text {
    visibility: hidden;
}

.message {
    width: 90%;
    color: green;
    font-size: 80%;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}

.error {
    width: 90%;
    color: red;
    font-size: 80%;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}

input.error {
    color: black;
    border-color: red;
}

input[type=submit]:hover {
    background-color: #456fa0;
}

input[type=submit]:enabled {
    background: green;
}

input[type=submit]:disabled {
    background: #dddddd;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is greater than 900px wide input field lengths are set to 75% of normal size */
@media screen and (min-width: 900px) {
    input[type=text], input[type=search], input[type=email], input[type=tel], select, textarea { 
        width: 75%;
        margin-top: 0;
    }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, [type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .hide-text {
        display: none;
    }
}
